body{
  background-color: #c3e3fe;
}
.panel-navbar{
  display: flex;
  justify-content: space-between;
}

.navbar-left{
  margin-left: 20px;
}

.navbar-right{
  margin-right: 20px;
}

.navbar-btm{
  margin-left: 10px;
}

.cart-item {
  display: flex;
}

.cart-form{
  margin-right: 2px;
}

.border-gray{
  margin-top: 20px;
  padding: 20px;
  background-color: #ececec;
  border: 2px solid #343a40;
  box-shadow: 5px 20px 50px rgba(52, 58, 64, 0.2);
  border-radius: 10px;
}

.custom-nav{
  /*margin: 0 1px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 13px 7px 5px rgba(52, 58, 64, 0.5);
}

.cart-panel{
  display: flex;
  justify-content: flex-end;
}

.product_item{
  background-color: #e1edf9;
}