<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>



<div th:replace="~{navigation :: navi(Home)}" />

<div th:if="${shoppingCart.isEmpty}" class="container">
    <br>
    <h1>Ваша корзина пуста</h1>
    Необходимо добавить товары в во вкладке каталог
</div>

<div th:if="${!shoppingCart.isEmpty}" class="container">
    <br>
    <h1>Корзина</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>

        <tr th:each="item : ${shoppingCart.getOrderItems}">
            <td th:text="${item.product.category.title}"/>
            <td>
                <span style="font-weight: bold;" th:text="${item.product.title}"></span>
            </td>
            <td th:text="${item.quantity}">
            </td>
            <td th:text="${item.totalPrice}"/>
            <td style="display: flex; float: right;">
                <form style="margin-right: 2px;" th:action="@{'/cart/remove/' + ${item.product.id}}">
                    <input type="submit" style="min-width: 50px;" class="btn btn-primary" value="-"/>
                </form>
                <form style="margin-right: 2px;" th:action="@{'/cart/add/' + ${item.product.id}}">
                    <input type="submit" style="min-width: 50px;" class="btn btn-primary" value="+"/>
                </form>
                <form  th:action="@{'/cart/removeItem/' + ${item.product.id}}">
                    <input type="submit" class="btn btn-primary" value="Удалить из корзины"/>
                </form>
            <td/>
        </tr>
        <tr>
        <td/>
        <td/>
        <td th:text="${shoppingCart.quantity}"/>
        <td th:text="${shoppingCart.totalPrice}"/>
        <td style="float: right;">
            <form th:action="@{'/cart/clear'}">
                <input type="submit" class="btn btn-primary" value="Очистить корзину"/>
            </form>
        <td/>
        </tr>
    </table>
</div>

</body>
</html>