<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">
    <br>
    <h1>Интернет-магазин</h1>
    Информация...
</div>
</body>
</html>