<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">

    <div class="border-gray">
    <div>
        <i>Кол-во товаров на странице</i>
        <a class="btn btn-primary" th:if="${products.getTotalElements > 5}"
           th:href="'/shop?&page=1&size=5' + ${paramsPage.getParams}">5</a>

        <a class="btn btn-primary" th:if="${products.getTotalElements > 10}"
           th:href="'/shop?&page=1&size=10' + ${paramsPage.getParams}">10</a>

        <a class="btn btn-primary" th:if="${products.getTotalElements > 50}"
           th:href="'/shop?&page=1&size=50' + ${paramsPage.getParams}">50</a>

        <a class="btn btn-primary" th:if="${products.getTotalElements > 100}"
           th:href="'/shop?&page=1&size=100' + ${paramsPage.getParams}">100</a>
    </div>

    <div>
        <h3 th:text="Фильтры" />

        <form th:action="@{/shop}" method="get">
            <input hidden th:value="${products.getNumber + 1}" th:name="page">
            <input hidden th:value="${products.getSize}" th:name="size">
            <input th:value="${paramsPage.title}" th:name="title" type="text" placeholder="Наименование">
            <input th:value="${paramsPage.min}" th:name="min" type="number" placeholder="Минимальная цена">
            <input th:value="${paramsPage.max}" th:name="max" type="number" placeholder="Максимальная цена">
            <button type="submit" class="btn btn-primary">Фильтровать</button>
        </form>
        <a class="btn btn-primary" th:if="${paramsPage.getParams.length > 0}"
           th:href="'/shop?&page=' + ${products.getNumber + 1} + '&size=' + ${products.getSize}">Сбросить фильтр</a>
    </div>
    </div>

    <h2>Коталог товаров</h2>
    <div class="border-gray">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Категория</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>

        <tr class="responsive-row" th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.category.title}"/>
            <td>
                <span style="font-weight: bold;" th:text="${product.title}"></span>
                <br>
                <span th:text="${product.shortDescription}"></span>
            </td>
            <td th:text="${product.price}"/>
            <td>
                <form th:action="@{'/shop/addCartItem/' + ${product.id}}">
                    <input type="submit" class="btn btn-primary" value="Добавить в корзину"/>
                </form>
            <td/>
        </tr>
    </table>
    </div>

    <div>
        <a class="btn btn-primary" th:if="${!products.isFirst}"
           th:href="'/shop?&page=' + ${products.getNumber}
           + '&size=' + ${products.getSize} + ${paramsPage.getParams}">&larr;</a>

        <a class="btn btn-primary" th:if="${!products.isLast}"
           th:href="'/shop?&page=' + ${products.getNumber + 2}
           + '&size=' + ${products.getSize} + ${paramsPage.getParams}">&rarr;</a>
    </div>



</div>

</body>
</html>
