<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">
    <br>
    <h1>Коталог товаров</h1>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Категория</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>

        <tr class="responsive-row" th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.category.title}"/>
            <td>
                <span style="font-weight: bold;" th:text="${product.title}"></span>
                <br>
                <span th:text="${product.shortDescription}"></span>
            </td>
            <td th:text="${product.price}"/>
            <td>
                <form th:action="@{'/cart/add/' + ${product.id}+ '/false'}">
                    <input type="submit" class="btn btn-primary" value="Добавить в корзину"/>
                </form>
            <td/>
        </tr>
    </table>
</div>

</body>
</html>